DB_SERVER=DATABASE_SERVER_NAME
DB_USER=SERVER_USERNAME
DB_PASSWORD=SERVER_PASSWORD_FOR_USER
DB_ADDRESS=SERVER_IP_ADDRESS
DB_PORT=DATABASE_APP_PORT
DB_NAME=DATABASE_NAME

PEPPER=RANDOM_STRING

VALKEY_HOST=VALKEY_HOST
VALKEY_PORT=VALKEY_PORT
VALKEY_DB=VALKEY_DB_ID

RESEND_API_KEY=API_KEY

JWT_SECRET=TOKEN_SECRET

UPDATE_WORKER_INTERVAL_SECONDS=1800
